{% extends "base.html" %}

{% block content %}
  <main id="main">

    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="#" class="img-bg d-flex align-items-end" style="background-image: url('static/img/post-slide-1.png');">
                    <div class="img-bg-inner">
                      <h2>“Start your web building journey using our simple guides” </h2>
<!--                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>-->
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
<iframe src="https://trinket.io/embed/python/4365623406?outputOnly=true&runOption=run&start=result" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>

                </div>

                <div class="swiper-slide">
                  <a href="#" class="img-bg d-flex align-items-end" style="background-image: url('static/img/post-slide-2.png');">
                    <div class="img-bg-inner">
                      <h2>HTML stands for Hyper Text Markup Languag</h2>
                      <p>HTML is the standard markup language for Web pages. HTML elements are the building blocks of HTML pages. HTML elements are represented by <> tags</p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#" class="img-bg d-flex align-items-end" style="background-image: url('static/img/post-slide-3.png');">
                    <div class="img-bg-inner">
                      <h2>JavaScript is the Programming Language for the Web.</h2>
                      <p>JavaScript can update and change both HTML and CSS. JavaScript can calculate, manipulate and validate data. </p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="#" class="img-bg d-flex align-items-end" style="background-image: url('static/img/post-slide-4.png');">
                    <div class="img-bg-inner">
                      <h2>CSS stands for Cascading Style Sheets </h2>
                      <p>CSS describes how HTML elements are to be displayed </p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="#" class="img-bg d-flex align-items-end" style="background-image: url('static/img/post-slide-5.png');">
                    <div class="img-bg-inner">
                      <h2>A popular general-purpose scripting language</h2>
                      <p>PHP  is a widely-used open source general-purpose scripting language that is especially suited for web development and can be embedded into HTML. </p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="#" class="img-bg d-flex align-items-end" style="background-image: url('static/img/post-slide-6.png');">
                    <div class="img-bg-inner">
                      <h2>SQL stands for Structured Query Language</h2>
                      <p>SQL lets you access and manipulate databases
                        SQL became a standard of the American National Standards Institute (ANSI) in 1986, and of the International Organization for Standardization (ISO) in 1987 </p>
                    </div>
                  </a>
                </div>
              </div>

              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Hero Slider Section -->

    <!-- ======= Post Grid Section ======= -->
    <section id="posts" class="posts">
      <div class="container" data-aos="fade-up">
        <div class="row g-5">
          <div class="col-lg-4">
            <div class="post-entry-1 lg">
              <a href="single-post.html"><img src="static/img/postturtle.png" alt="" class="img-fluid"></a>
              <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2><a href="single-post.html">About us… </a></h2>
              <p class="mb-4 d-block">We are gathered in a coding bootcamp, eager to learn the skills necessary to become proficient coders. We are a diverse group, with individuals from various backgrounds and experiences, but we all share a common goal: to master the art of coding. The focus of our studies is on three of the most important programming languages: Python, CSS & HTML, and JavaScript.

Throughout the bootcamp, we are challenged to learn the syntax and structures of these languages, as well as how to use them to build functional and visually appealing websites. The atmosphere is fast-paced and intensive, with lectures, hands-on coding exercises, and group projects that push us to apply what we have learned. Despite the demanding schedule, we are highly motivated and eager to learn, and the sense of community among us is strong. We support each other through difficult exercises and cheer each other on as we tackle complex coding problems.

As the weeks pass, we become more confident in our abilities and are able to use the languages we have learned to create increasingly sophisticated web applications. We are proud of what we have accomplished and are excited to put our newfound skills to use in the real world. The coding bootcamp is an intense, but rewarding experience that has equipped us with the skills we need to succeed as coders.</p>

              <div class="d-flex align-items-center author">
                <div class="photo"><img src="static/img/person-1.jpg" alt="" class="img-fluid"></div>
                <div class="name">
                  <h3 class="m-0 p-0">Cameron Williamson</h3>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-8">
            <div class="row g-5">
              <div class="col-lg-4 border-start custom-border">
                <div class="post-entry-1">
                  <a href="/mastering_html"><img src="static/img/posthtml.png" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Html</span> <span class="mx-1">&bullet;</span> <span>Feb 2023</span></div>
                  <h2><a href="/mastering_html">Mastering HTML: The Essential Tool for Building Dynamic Websites</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href="/anonymous_func"><img src="static/img/postjs.png" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Javascript</span> <span class="mx-1">&bullet;</span> <span>Feb 2023</span></div>
                  <h2><a href="/anonymous_func">Anonymous functions</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href="/flexbox"><img src="static/img/postcss.png" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Design</span> <span class="mx-1">&bullet;</span> <span>Feb 2023</span></div>
                  <h2><a href="/flexbox">FelxBox in css</a></h2>
                </div>
              </div>
              <div class="col-lg-4 border-start custom-border">
                <div class="post-entry-1">
                  <a href="/design_pattern"><img src="static/img/postphp.png" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Php</span> <span class="mx-1">&bullet;</span> <span>Feb 2023</span></div>
                  <h2><a href="/design_pattern">Design pattern n phpi</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href="/orm"><img src="static/img/postsql.png" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Tech</span> <span class="mx-1">&bullet;</span> <span>Feb 2023</span></div>
                  <h2><a href="/orm">Relational mapping in SQL</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href="/quiz"><img src="static/img/postquiz.png" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">Travel</span> <span class="mx-1">&bullet;</span> <span>Feb 2023</span></div>
                  <h2><a href="quiz">5 Great Startup Tips for Female Founders</a></h2>
                </div>
              </div>

              <!-- Trending Section -->
              <div class="col-lg-4">

                <div class="trending">
                  <h3>Trending Books</h3>
                  <ul class="trending-post">
                    <li>
                      <a href="https://www.amazon.co.uk/Beginners-Step-Step-Coding-Course/dp/0241358736/ref=sr_1_1?crid=2XRC4NRBZE2ND&keywords=coding+books+for+beginners&qid=1675680512&sprefix=coding+books+for+beginner%2Caps%2C66&sr=8-1">
                        <span class="number">1</span>
                        <h3>Beginner's Step-by-Step Coding Course: Learn Computer Programming the Easy Way</h3>
                        <span class="author">David Krowitz</span>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.amazon.co.uk/Head-First-Design-Patterns-Object-Oriented/dp/149207800X/ref=sr_1_1?crid=24ZEX751TY0L7&keywords=head+first+design+patterns&qid=1676211795&sprefix=deasign+patter%2Caps%2C68&sr=8-1">
                        <span class="number">2</span>
                        <h3>Head First Design Patterns</h3>
                        <span class="author">Eric Freeman</span>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.amazon.co.uk/JavaScript-Definitive-Guide-David-Flanagan/dp/1491952024/ref=sr_1_3?crid=23IHGLDU4LF78&keywords=javascript&qid=1676211884&sprefix=javasc%2Caps%2C80&sr=8-3">
                        <span class="number">3</span>
                        <h3>JavaScript – The Definitive Guide, 7e: Master the World's Most-Used Programming Language</h3>
                        <span class="author">David Flanagan</span>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.amazon.co.uk/SQL-Pocket-Guide-Usage/dp/1492090409/ref=sr_1_4?crid=21NQ2J240V0MH&keywords=sql&qid=1676211887&sprefix=sql%2Caps%2C113&sr=8-4">
                        <span class="number">4</span>
                        <h3>SQL Pocket Guide: A Guide to SQL Usage</h3>
                        <span class="author">Alice Zhao</span>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.amazon.co.uk/PHP-Objects-Patterns-Practice-Enhancements/dp/1484267907/ref=sr_1_16?crid=6RSIX0GFX3PX&keywords=php&qid=1676211943&sprefix=php%2Caps%2C72&sr=8-16">
                        <span class="number">5</span>
                        <h3>PHP 8 Objects, Patterns, and Practice</h3>
                        <span class="author">Matt Zandstra </span>
                      </a>
                    </li>
                  </ul>
                </div>

              </div> <!-- End Trending Section -->
            </div>
          </div>

        </div> <!-- End .row -->
      </div>
    </section> <!-- End Post Grid Section -->

  </main><!-- End #main -->
{% endblock %}
